.dashboard-user1,
.tempimagettnyuq-1-parent {
  display: flex;
  align-items: flex-start;
  isolation: isolate;
}
.dashboard-user1 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow-y: auto;
  flex-direction: column;
  gap: 65px;
  line-height: normal;
  letter-spacing: normal;
}
.tempimagettnyuq-1-parent {
  width: 1924px;
  margin: 0 !important;
  position: absolute;
  top: 120px;
  left: -2px;
  flex-shrink: 0;
}
.tempimagettnyuq-1-icon {
  width: 100%;
  position: absolute;
  margin: 0 !important;
  height: 100%;
  top: 0;
  right: -6px;
  bottom: 0;
  max-height: 100%;
  object-fit: cover;
  flex-shrink: 0;
}
.frame-child {
  height: 762px;
  flex: 1;
  position: relative;
  box-shadow: var(--shadow-drop);
  max-width: 100%;
  overflow: hidden;
  z-index: 1;
  flex-shrink: 0;
}
.dashboard-user1-inner,
.rectangle-parent {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.dashboard-user1-inner {
  align-self: stretch;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-0) 169px;
  flex-shrink: 0;
}
.rectangle-parent {
  flex: 1;
  box-shadow: var(--shadow-drop);
  background-color: var(--color-gray-600);
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-21) 58px var(--padding-21) 84px;
  gap: var(--gap-20);
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: left;
  font-size: var(--fs-35);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.frame-item,
.frame-parent {
  max-width: 100%;
  flex-shrink: 0;
}
.frame-item {
  height: 120px;
  width: 1920px;
  position: relative;
  box-shadow: var(--shadow-drop);
  background-color: var(--color-gray-600);
  display: none;
}
.frame-parent {
  width: 606px;
  display: flex;
  align-items: flex-start;
  gap: 25px;
}
.frame-inner,
.rectangle-group {
  border-radius: var(--br-15);
  background-color: var(--color-lightsteelblue);
}
.rectangle-group {
  display: flex;
  align-items: flex-start;
  padding: var(--padding-15);
  z-index: 1;
}
.frame-inner {
  height: 78px;
  width: 78px;
  position: relative;
  display: none;
  flex-shrink: 0;
}
.icon,
.key {
  overflow: hidden;
}
.key {
  height: var(--height-48);
  width: var(--width-48);
  position: relative;
  flex-shrink: 0;
  z-index: 2;
}
.icon {
  position: absolute;
  height: 79.38%;
  width: 83.13%;
  top: 8.33%;
  right: 8.33%;
  bottom: 12.29%;
  left: 8.54%;
  max-width: 100%;
  max-height: 100%;
}
.kos-aqsya-residence-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-19) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  max-width: 100%;
}
.kos-aqsya-residence {
  margin: 0;
  align-self: stretch;
  height: 59px;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.frame-wrapper {
  flex-direction: column;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-0) var(--padding-5);
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}
.beranda-wrapper,
.frame-group,
.frame-wrapper {
  display: flex;
  align-items: flex-start;
}
.frame-group {
  margin: 0;
  align-self: stretch;
  gap: var(--gap-22);
  text-align: left;
  font-size: var(--fs-25);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.beranda-wrapper {
  flex-direction: column;
  padding: var(--padding-16) var(--padding-7) var(--padding-0) var(--padding-0);
}
.beranda {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  z-index: 1;
}
.button-masuk {
  cursor: pointer;
  border: 0 solid var(--color-lightsteelblue);
  padding: var(--padding-16) var(--padding-26);
  background-color: var(--color-white);
  flex: 1;
  border-radius: var(--br-15);
  display: flex;
  align-items: flex-start;
  z-index: 1;
}
.button-masuk:hover {
  background-color: var(--color-gainsboro-100);
  border: 2px solid var(--color-steelblue);
  box-sizing: border-box;
}
.button-masuk-child,
.masuk {
  position: relative;
  flex-shrink: 0;
}
.button-masuk-child {
  height: 62px;
  width: 133px;
  border-radius: var(--br-15);
  display: none;
}
.masuk {
  font-size: var(--fs-25);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-lightsteelblue);
  text-align: left;
  z-index: 1;
}
.button-daftar,
.button-daftar-child {
  border-radius: var(--br-15);
  background-color: var(--color-lightsteelblue);
}
.button-daftar {
  cursor: pointer;
  border: 0;
  padding: var(--padding-16) var(--padding-29);
  flex: 0.9259;
  display: flex;
  align-items: flex-start;
  z-index: 1;
}
.button-daftar2:hover,
.button-daftar:hover {
  background-color: var(--color-steelblue);
}
.button-daftar-child {
  height: 62px;
  width: 133px;
  position: relative;
  display: none;
  flex-shrink: 0;
}
.daftar,
.dashboard-user1-child {
  flex-shrink: 0;
  text-align: left;
  color: var(--color-white);
  font-family: var(--font-inter);
}
.daftar {
  position: relative;
  font-size: var(--fs-25);
  font-weight: 500;
  z-index: 1;
}
.dashboard-user1-child {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-0) var(--padding-20) 176px var(--padding-21);
  box-sizing: border-box;
  max-width: 100%;
  font-size: 76px;
}
.frame-container {
  width: 1233px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 22.4px;
  max-width: 100%;
}
.frame-div {
  width: 1146px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-0) var(--padding-20);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-parent2,
.kos-aqsya-residence-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent2 {
  width: 848px;
  gap: var(--gap-15);
}
.kos-aqsya-residence-parent {
  align-self: stretch;
  gap: 6px;
  flex-shrink: 0;
}
.kos-aqsya-residence2 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 2;
}
.location-on-parent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-8);
  max-width: 100%;
  font-size: var(--fs-30);
}
.location-on-icon {
  width: var(--width-48);
  position: relative;
  max-height: 100%;
  z-index: 2;
}
.jl-mangu-indah-no88-kaliwun-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-5) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  min-width: 515px;
  max-width: 100%;
}
.jl-mangu-indah {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  white-space: pre-wrap;
  z-index: 2;
}
.frame-wrapper2,
.star-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-wrapper2 {
  width: 793px;
  justify-content: center;
  padding: var(--padding-0) var(--padding-20);
  box-sizing: border-box;
  font-size: var(--fs-30);
}
.star-parent {
  width: 343px;
  gap: 11.1px;
}
.star-icon {
  height: 60.6px;
  width: 63.7px;
  position: relative;
  border-radius: 3px;
  z-index: 2;
}
.review-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-19) var(--padding-0) var(--padding-0);
}
.h2 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  z-index: 2;
}
.review-items2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-19) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  min-width: 137px;
}
.kos-modern-dan,
.ulasan {
  position: relative;
  font-weight: 500;
  z-index: 2;
}
.ulasan {
  margin: 0;
  align-self: stretch;
  font-size: inherit;
  font-family: inherit;
}
.kos-modern-dan {
  font-size: var(--fs-30);
  text-align: center;
}
.frame-parent3,
.frame-section {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-section {
  width: 1905px;
  justify-content: center;
  padding: var(--padding-0) var(--padding-20);
  box-sizing: border-box;
  flex-shrink: 0;
  text-align: center;
  font-size: var(--fs-35);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.frame-parent3 {
  flex-direction: column;
  gap: 61px;
}
.fasilitas-kos-wrapper {
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) 711px var(--padding-0) 710px;
}
.fasilitas-kos {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.facility-icons,
.facility-rows {
  display: flex;
  align-items: flex-start;
}
.facility-icons {
  align-self: stretch;
  justify-content: center;
  gap: 40px;
  font-size: var(--fs-20);
  color: var(--color-gray-200);
}
.facility-rows {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-1) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  min-width: var(--min-w-129);
}
.fasilitas1,
.fasilitas1-child {
  border-radius: var(--br-15);
  background-color: var(--color-whitesmoke);
}
.fasilitas1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 33px 55px var(--padding-18);
  gap: 21px;
}
.fasilitas1-child {
  width: var(--width-199);
  height: var(--height-168);
  position: relative;
  display: none;
  flex-shrink: 0;
}
.icon-rows {
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-21) var(--padding-0) var(--padding-20);
  flex-shrink: 0;
}
.wifi-100mbps,
.wifi-icon {
  position: relative;
  z-index: 1;
}
.wifi-icon {
  height: var(--height-48);
  width: var(--width-48);
}
.wifi-100mbps {
  align-self: stretch;
  font-weight: 500;
  flex-shrink: 0;
}
.fasilitas-2 {
  align-self: stretch;
  border-radius: var(--br-15);
  background-color: var(--color-whitesmoke);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-35) var(--padding-40) var(--padding-18);
  gap: 19px;
}
.directions-car-wrapper {
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) 39px var(--padding-0) var(--padding-32);
  flex-shrink: 0;
}
.parkir-motor {
  position: relative;
  font-weight: 500;
  z-index: 1;
  flex-shrink: 0;
}
.coffee-wrapper,
.fasilitas-3 {
  display: flex;
  align-items: flex-start;
}
.fasilitas-3 {
  border-radius: var(--br-15);
  background-color: var(--color-whitesmoke);
  flex-direction: column;
  padding: var(--padding-40) 57px var(--padding-18);
  gap: var(--gap-22);
}
.coffee-wrapper {
  padding: var(--padding-0) var(--padding-24) var(--padding-0) var(--padding-21);
  flex-shrink: 0;
}
.coffee-icon {
  height: 40px;
  width: 40px;
  position: relative;
  z-index: 1;
}
.fasilitas-4,
.shield-wrapper {
  display: flex;
  align-items: flex-start;
}
.fasilitas-4 {
  flex: 0.2864;
  border-radius: var(--br-15);
  background-color: var(--color-whitesmoke);
  flex-direction: column;
  padding: var(--padding-40) 71px var(--padding-35);
  box-sizing: border-box;
  gap: 21px;
  min-width: var(--min-w-129);
}
.shield-wrapper {
  align-self: stretch;
  padding: var(--padding-0) var(--padding-6) var(--padding-0) var(--padding-3);
  flex-shrink: 0;
}
.shield {
  height: var(--height-48);
  width: var(--width-48);
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.icon2 {
  position: absolute;
  height: 83.33%;
  width: 66.67%;
  top: 8.33%;
  right: 16.67%;
  bottom: 8.33%;
  left: 16.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.cctv {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  z-index: 1;
  flex-shrink: 0;
}
.fasilitas-5 {
  flex: 0.598;
  border-radius: var(--br-15);
  background-color: var(--color-whitesmoke);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 39px var(--padding-40) var(--padding-35);
  box-sizing: border-box;
  gap: var(--gap-22);
  min-width: var(--min-w-129);
}
.message-circle-wrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-35) var(--padding-0) var(--padding-36);
  flex-shrink: 0;
}
.icon3 {
  position: absolute;
  height: 75%;
  width: 75%;
  top: 12.5%;
  right: 12.5%;
  bottom: 12.5%;
  left: 12.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.fasilitas-6 {
  border-radius: var(--br-15);
  background-color: var(--color-whitesmoke);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 33px 76px var(--padding-35) 75px;
  gap: var(--gap-28);
}
.icon4 {
  position: absolute;
  height: 83.33%;
  width: 91.67%;
  top: 8.33%;
  right: 4.17%;
  bottom: 8.33%;
  left: 4.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ac-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) 9px var(--padding-0) 10px;
  flex-shrink: 0;
}
.ac {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  z-index: 1;
}
.fasilitas-7-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-4) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  min-width: var(--min-w-129);
}
.fasilitas-7,
.users-wrapper {
  align-self: stretch;
  display: flex;
}
.fasilitas-7 {
  border-radius: var(--br-15);
  background-color: var(--color-whitesmoke);
  flex-direction: column;
  align-items: flex-end;
  padding: 38px 37px 11px var(--padding-36);
  gap: 23px;
}
.users-wrapper {
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) 37px var(--padding-0) 41px;
  flex-shrink: 0;
}
.icon5 {
  position: absolute;
  height: 75%;
  width: 91.67%;
  top: 12.5%;
  right: 4.17%;
  bottom: 12.5%;
  left: 4.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.select-fields-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-0) 77px;
  box-sizing: border-box;
  gap: 58px;
  max-width: 100%;
  flex-shrink: 0;
  text-align: center;
  font-size: 45px;
  color: var(--color-black);
  font-family: var(--font-inter);
}
.select-fields,
.select-fields-child {
  height: 154px;
  box-shadow: var(--shadow-drop);
  background-color: var(--color-white);
  max-width: 100%;
}
.select-fields {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  padding: 28px 447px;
  box-sizing: border-box;
  gap: 145px;
  text-align: left;
  font-size: var(--fs-16);
  color: var(--color-gray-300);
  font-family: var(--font-inter);
}
.select-fields-child {
  width: 1920px;
  position: relative;
  display: none;
  flex-shrink: 0;
}
.select-field {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Space-200);
  flex-shrink: 0;
}
.description,
.label {
  position: relative;
  line-height: 140%;
}
.label {
  align-self: stretch;
}
.description {
  width: 240px;
  color: var(--color-gray-200);
  display: none;
}
.select {
  align-self: stretch;
  height: 41px;
  border-radius: var(--Radius-200);
  background-color: var(--color-white);
  border: var(--Stroke-Border) solid var(--color-gainsboro-200);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: var(--Space-300) var(--Space-300) var(--Space-300) var(--Space-400);
  position: relative;
  isolation: isolate;
  gap: var(--Space-200);
  min-width: 120px;
}
.chevron-down-icon,
.value {
  position: relative;
  flex-shrink: 0;
}
.value {
  flex: 1;
  line-height: 100%;
  z-index: 0;
}
.chevron-down-icon {
  height: var(--height-16);
  width: var(--width-16);
  z-index: 1;
}
.options {
  margin: 0 !important;
  position: absolute;
  top: 8px;
  left: 8px;
  box-shadow: var(--Drop-Shadow-200);
  border-radius: var(--Radius-200);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-200);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--Space-200);
  gap: var(--Space-200);
  z-index: 2;
  flex-shrink: 0;
}
.hello-world {
  font-weight: 600;
}
.hello-world,
.option-2 {
  position: relative;
  line-height: 140%;
}
.frame-wrapper3,
.kamar-tersedia-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-wrapper3 {
  align-self: stretch;
  padding: var(--padding-0) 76px var(--padding-0) 75px;
  box-sizing: border-box;
}
.kamar-tersedia-parent {
  flex: 1;
  flex-direction: column;
  gap: 71px;
}
.kamar-tersedia {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.room-status-parent {
  align-self: stretch;
  flex-direction: column;
}
.room-status,
.room-status-inner,
.room-status-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.room-status {
  align-self: stretch;
  justify-content: center;
  gap: 56px;
}
.room-status-inner {
  width: 561px;
  flex-direction: column;
  padding: var(--padding-0) 13px var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--fs-20);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.tempimagedb346c-1-icon,
.tempimagedb346c-1-parent {
  box-shadow: var(--shadow-drop-1);
  border-radius: var(--br-15) var(--br-15) var(--br-0) var(--br-0);
  max-width: 100%;
}
.tempimagedb346c-1-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 27px var(--padding-26) var(--padding-14);
  box-sizing: border-box;
  gap: 250px;
  background-image: url(./public/Frame-8@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 1;
}
.tempimagedb346c-1-icon {
  width: var(--width-548);
  position: relative;
  max-height: 100%;
  object-fit: cover;
  display: none;
  flex-shrink: 0;
}
.rectangle-container {
  width: var(--width-118);
  border-radius: var(--br-60);
  background-color: var(--color-olivedrab);
  display: flex;
  align-items: flex-start;
  padding: var(--padding-6) var(--padding-0) var(--padding-7) var(--padding-17);
  box-sizing: border-box;
  z-index: 2;
}
.rectangle-icon,
.tersedia {
  position: relative;
  flex-shrink: 0;
}
.rectangle-icon {
  height: var(--height-37);
  width: var(--width-118);
  border-radius: var(--br-60);
  display: none;
}
.tersedia {
  margin: 0;
  flex: 1;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  z-index: 3;
}
.star-icon-two,
.star-icon-two-child {
  width: var(--width-101);
  border-radius: var(--br-60);
  flex-shrink: 0;
}
.star-icon-two {
  background-color: var(--color-white);
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-7) var(--padding-2);
  box-sizing: border-box;
  gap: 2px;
  z-index: 2;
  font-size: var(--fs-25);
  color: var(--color-gray-300);
}
.star-icon-two-child {
  height: var(--height-37);
  position: relative;
  display: none;
}
.star-icon2 {
  height: 35px;
  width: 35px;
  position: relative;
  border-radius: var(--br-2);
  z-index: 3;
  flex-shrink: 0;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-3) var(--padding-0) var(--padding-0);
  flex-shrink: 0;
}
.h22 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  z-index: 3;
}
.status-containers,
.status-rows {
  display: flex;
  align-items: flex-start;
}
.status-containers {
  width: var(--width-548);
  box-shadow: var(--shadow-drop-1);
  border-radius: var(--br-15) var(--br-15) var(--br-0) var(--br-0);
  flex-direction: column;
  padding: 27px var(--padding-20) var(--padding-14);
  box-sizing: border-box;
  gap: 250px;
  background-image: url(./public/Status-Containers@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 100%;
  z-index: 1;
  text-align: left;
  font-size: var(--fs-20);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.status-rows {
  align-self: stretch;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-20);
  flex-shrink: 0;
}
.star-containers,
.status-containers2 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.star-containers {
  width: var(--width-101);
  border-radius: var(--br-60);
  background-color: var(--color-white);
  padding: var(--padding-0) var(--padding-7) var(--padding-2);
  z-index: 2;
  flex-shrink: 0;
  font-size: var(--fs-25);
  color: var(--color-gray-300);
}
.status-containers2 {
  width: var(--width-548);
  box-shadow: var(--shadow-drop-1);
  border-radius: var(--br-15) var(--br-15) var(--br-0) var(--br-0);
  flex-direction: column;
  padding: 27px var(--padding-26) var(--padding-14);
  gap: 250px;
  background-image: url(./public/Status-Containers1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 100%;
  z-index: 1;
  text-align: left;
  font-size: var(--fs-20);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.rectangle-parent3,
.status-containers-inner {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.status-containers-inner {
  align-self: stretch;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-14);
}
.rectangle-parent3 {
  width: var(--width-101);
  border-radius: var(--br-60);
  background-color: var(--color-white);
  padding: var(--padding-0) var(--padding-6) var(--padding-2);
  box-sizing: border-box;
  z-index: 2;
  font-size: var(--fs-25);
  color: var(--color-gray-300);
}
.star-icon4 {
  height: 35px;
  width: 35px;
  position: relative;
  border-radius: var(--br-2);
  z-index: 4;
  flex-shrink: 0;
}
.deluxe-content-wrapper,
.frame-parent4 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent4 {
  height: 415px;
  gap: 56px;
}
.deluxe-content-wrapper {
  flex-direction: column;
  padding: var(--padding-0) 13px var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--fs-30);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.deluxe-content,
.deluxe-content-child {
  align-self: stretch;
  box-shadow: var(--shadow-drop-2);
  border-radius: var(--br-0) var(--br-0) var(--br-15) var(--br-15);
  background-color: var(--color-gray-100);
}
.deluxe-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-16) var(--padding-0) 38.7px;
  box-sizing: border-box;
  gap: 44px;
  max-width: 100%;
}
.deluxe-content-child {
  height: 415px;
  position: relative;
  display: none;
  flex-shrink: 0;
}
.deluxe-info {
  width: 346px;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-17);
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}
.deluxe-description,
.room-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.deluxe-description {
  flex: 1;
  gap: 14.3px;
}
.room-details {
  align-self: stretch;
  gap: 0.3px;
}
.deluxe-room-a1,
.single-1 {
  position: relative;
  line-height: 140%;
  flex-shrink: 0;
  z-index: 1;
}
.deluxe-room-a1 {
  margin: 0;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.single-1 {
  align-self: stretch;
  height: 47.7px;
  font-size: var(--fs-23);
  font-weight: 500;
  color: var(--color-gray-200);
  white-space: pre-wrap;
  display: inline-block;
}
.amenity-items-parent {
  width: 293px;
  display: flex;
  align-items: flex-start;
  gap: 18.5px;
  font-size: var(--fs-25);
  color: var(--color-lightsteelblue);
}
.amenity-items {
  border-radius: var(--br-5);
  background-color: var(--color-aliceblue);
  display: flex;
  align-items: flex-start;
  padding: var(--padding-4_5) var(--padding-15) var(--padding-4_6);
  z-index: 1;
}
.amenity-items-child,
.wifi {
  position: relative;
  flex-shrink: 0;
}
.amenity-items-child {
  height: var(--height-48_8);
  width: var(--width-84);
  border-radius: var(--br-5);
  background-color: var(--color-aliceblue);
  display: none;
}
.wifi {
  margin: 0;
  font-size: inherit;
  line-height: 140%;
  font-weight: 500;
  font-family: inherit;
  z-index: 2;
}
.rectangle-div,
.rectangle-parent4 {
  border-radius: var(--br-5);
  background-color: var(--color-aliceblue);
}
.rectangle-parent4 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-6) var(--padding-12) var(--padding-7) var(--padding-21);
  z-index: 1;
  font-size: var(--fs-23);
}
.rectangle-div {
  height: 49px;
  width: 88px;
  position: relative;
  display: none;
  flex-shrink: 0;
}
.bed,
.line-parent {
  flex: 1;
  flex-shrink: 0;
}
.bed {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 140%;
  font-weight: 500;
  font-family: inherit;
  z-index: 2;
}
.line-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 22.2px;
  max-width: 100%;
  font-size: var(--fs-23);
  color: var(--color-gray-200);
}
.line-div {
  align-self: stretch;
  height: var(--height-1);
  position: relative;
  border-top: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  z-index: 1;
}
.price-container,
.price-details {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.price-details {
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-36) var(--padding-0) 43px;
  box-sizing: border-box;
}
.price-container {
  flex-direction: column;
}
.mulai-dari {
  position: relative;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
  min-width: 119px;
  flex-shrink: 0;
  z-index: 1;
}
.rp-1000000-parent {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.rp-1000000 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 140%;
  font-weight: 500;
  font-family: inherit;
  flex-shrink: 0;
  z-index: 2;
}
.bulan-wrapper {
  width: var(--width-84);
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-4);
  box-sizing: border-box;
  font-size: var(--fs-20);
  color: var(--color-gray-200);
}
.bulan {
  height: 39.7px;
  flex: 1;
  position: relative;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.button-daftar-item,
.button-daftar2 {
  border-radius: var(--br-15);
  background-color: var(--color-lightsteelblue);
}
.button-daftar2 {
  cursor: pointer;
  border: 0;
  padding: 18.2px 23px 18.1px var(--padding-29);
  display: flex;
  align-items: flex-start;
  z-index: 1;
}
.button-daftar-item {
  height: 70.4px;
  width: 187px;
  position: relative;
  display: none;
  flex-shrink: 0;
}
.room-types {
  align-self: stretch;
  width: var(--width-548);
  box-shadow: var(--shadow-drop-2);
  border-radius: var(--br-0) var(--br-0) var(--br-15) var(--br-15);
  background-color: var(--color-gray-100);
  flex-direction: column;
  padding: var(--padding-16) var(--padding-0) 38.7px;
  box-sizing: border-box;
  gap: 22.2px;
  max-width: 100%;
  text-align: left;
  font-size: var(--fs-30);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.amenities-features,
.room-info,
.room-types {
  display: flex;
  align-items: flex-start;
}
.room-info {
  width: 346px;
  padding: var(--padding-0) var(--padding-17) var(--padding-22);
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}
.amenities-features {
  align-self: stretch;
  flex-direction: column;
}
.single-12 {
  align-self: stretch;
  height: 47.7px;
  position: relative;
  font-size: var(--fs-23);
  line-height: 140%;
  font-weight: 500;
  color: var(--color-gray-200);
  white-space: pre-wrap;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.feature-a-c,
.feature-info {
  display: flex;
  align-items: flex-start;
}
.feature-info {
  gap: var(--gap-20);
  font-size: var(--fs-25);
  color: var(--color-lightsteelblue);
}
.feature-a-c {
  border-radius: var(--br-5);
  background-color: var(--color-aliceblue);
  padding: var(--padding-4_5) var(--padding-24) var(--padding-4_6);
  z-index: 1;
}
.room-types-item {
  align-self: stretch;
  height: var(--height-1);
  position: relative;
  border-top: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  z-index: 1;
  flex-shrink: 0;
}
.price-info,
.price-range,
.price-values {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.price-info {
  height: 135.1px;
  padding: var(--padding-0) var(--padding-36) var(--padding-0) 43px;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  font-size: var(--fs-23);
  color: var(--color-gray-200);
}
.price-range,
.price-values {
  flex: 1;
}
.price-range {
  gap: 51px;
  flex-shrink: 0;
  margin-top: -6.7px;
  position: relative;
  font-size: var(--fs-35);
  color: var(--color-black);
}
.price-values {
  flex-direction: column;
  padding: 6.8px var(--padding-0) var(--padding-0);
}
.rp-700000,
.standard-room {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 140%;
  font-family: inherit;
  flex-shrink: 0;
}
.rp-700000 {
  align-self: stretch;
  flex: 1;
  font-weight: 500;
  z-index: 2;
}
.standard-room {
  width: 263px;
  font-weight: 600;
  display: inline-block;
  z-index: 1;
}
.rectangle-parent5 {
  border-radius: var(--br-5);
  background-color: var(--color-aliceblue);
  display: flex;
  align-items: flex-start;
  padding: var(--padding-4_5) var(--padding-15) var(--padding-4_6);
  z-index: 1;
  font-size: var(--fs-25);
  color: var(--color-lightsteelblue);
}
.information,
.information-child {
  background-color: var(--color-darkslategray);
  max-width: 100%;
  flex-shrink: 0;
}
.information {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 76px 415px 66px var(--padding-3);
  box-sizing: border-box;
  gap: 40.5px;
  text-align: center;
  font-size: var(--Static-Display-Small-Size);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
.information-child {
  width: 1920px;
  height: 485px;
  position: relative;
  display: none;
}
.footer-content,
.footer-info {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.footer-content {
  width: 1462px;
  flex-direction: column;
  padding: var(--padding-0) var(--padding-0) var(--padding-0) var(--padding-20);
  box-sizing: border-box;
  gap: var(--gap-8);
  flex-shrink: 0;
  text-align: left;
  font-size: var(--fs-35);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.footer-info {
  width: 1151px;
  justify-content: space-between;
  gap: var(--gap-20);
}
.kos-aqsya-residence3 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 140%;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.kontak-parent {
  display: flex;
  align-items: flex-start;
  gap: 245px;
  max-width: 100%;
}
.kontak {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 140%;
  font-weight: 600;
  font-family: inherit;
  z-index: 1;
}
.contact-details,
.description-container {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.contact-details {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-20);
  font-size: var(--fs-23);
  color: var(--color-silver-100);
}
.description-container {
  width: 561px;
  flex-direction: column;
  padding: var(--padding-8) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
}
.kos-modern-dan2 {
  position: relative;
  line-height: 140%;
  font-weight: 500;
  z-index: 1;
}
.contact-data {
  width: 774px;
  display: flex;
  align-items: flex-start;
  gap: 17px;
  max-width: 100%;
}
.ibu-rum-081234456567 {
  width: 347px;
  position: relative;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
}
.jl-mangu-indah-no88-kaliwun-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-8) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  min-width: 266px;
  max-width: 100%;
  color: var(--color-silver-200);
}
.jl-mangu-indah2 {
  position: relative;
  font-weight: 500;
  white-space: pre-wrap;
  z-index: 1;
}
.information-item {
  margin-right: -415.1px;
  margin-bottom: 25px;
  width: 1917.2px;
  height: var(--height-1);
  position: relative;
  border-top: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  max-width: 128%;
  z-index: 1;
  flex-shrink: 0;
}
.kos-aqsya-residence-all-right-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) 135px;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}
.kos-aqsya-residence4 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: var(--Static-Display-Small-Line-Height);
  font-weight: 500;
  font-family: inherit;
  z-index: 1;
}
@media screen and (max-width: 1825px) {
  .select-fields {
    flex-wrap: wrap;
    justify-content: center;
  }
  .contact-details,
  .frame-parent4,
  .room-status {
    flex-wrap: wrap;
  }
  .description-container {
    flex: 1;
  }
}
@media screen and (max-width: 1350px) {
  .dashboard-user1 {
    gap: 32px;
  }
  .rectangle-parent {
    padding-left: 42px;
    padding-right: var(--padding-29);
    box-sizing: border-box;
  }
  .frame-wrapper {
    width: 0;
  }
  .frame-group {
    display: none;
  }
  .fasilitas-kos-wrapper {
    padding-left: 355px;
    padding-right: 355px;
    box-sizing: border-box;
  }
  .facility-icons {
    flex-wrap: wrap;
  }
  .select-fields-parent {
    padding-bottom: 50px;
    box-sizing: border-box;
  }
  .select-fields {
    gap: 72px;
    padding-left: 223px;
    padding-right: 223px;
    box-sizing: border-box;
  }
  .frame-wrapper3 {
    padding-left: 37px;
    padding-right: 38px;
    box-sizing: border-box;
  }
  .information {
    padding-right: 207px;
    box-sizing: border-box;
  }
  .footer-info {
    flex-wrap: wrap;
  }
  .description-container {
    min-width: 100%;
  }
  .kos-aqsya-residence-all-right-wrapper {
    padding-left: 67px;
    padding-right: 67px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 925px) {
  .dashboard-user1 {
    gap: 16px;
  }
  .rectangle-parent {
    padding-left: var(--padding-21);
    box-sizing: border-box;
  }
  .dashboard-user1-child {
    padding-bottom: 114px;
    box-sizing: border-box;
  }
  .kos-aqsya-residence2 {
    font-size: 61px;
  }
  .jl-mangu-indah-no88-kaliwun-wrapper {
    min-width: 100%;
  }
  .h2,
  .jl-mangu-indah,
  .kos-modern-dan,
  .ulasan {
    font-size: var(--fs-24);
  }
  .frame-parent3 {
    gap: 30px;
  }
  .fasilitas-kos-wrapper {
    padding-left: 177px;
    padding-right: 177px;
    box-sizing: border-box;
  }
  .fasilitas-kos {
    font-size: var(--fs-28);
  }
  .facility-icons {
    gap: var(--gap-20);
  }
  .select-fields-parent {
    gap: 29px;
    padding-bottom: var(--padding-32);
    box-sizing: border-box;
  }
  .select-fields {
    gap: 36px;
    padding-left: 111px;
    padding-right: 111px;
    box-sizing: border-box;
  }
  .kamar-tersedia-parent {
    gap: 35px;
  }
  .kamar-tersedia {
    font-size: 36px;
  }
  .room-status {
    gap: var(--gap-28);
  }
  .status-containers,
  .status-containers2,
  .tempimagedb346c-1-parent {
    gap: 125px;
  }
  .frame-parent4 {
    gap: var(--gap-28);
  }
  .deluxe-content {
    gap: var(--gap-22);
  }
  .deluxe-room-a1 {
    font-size: var(--fs-24);
    line-height: 34px;
  }
  .price-details {
    padding-left: var(--padding-21);
    box-sizing: border-box;
  }
  .rp-1000000 {
    font-size: var(--fs-28);
    line-height: var(--lh-39);
  }
  .price-info {
    padding-left: var(--padding-21);
    box-sizing: border-box;
  }
  .price-range {
    gap: 25px;
    flex-wrap: wrap;
  }
  .rp-700000 {
    font-size: var(--fs-28);
    line-height: var(--lh-39);
  }
  .standard-room {
    font-size: var(--fs-24);
    line-height: 34px;
  }
  .information {
    gap: var(--gap-20);
    padding-right: 103px;
    box-sizing: border-box;
  }
  .kos-aqsya-residence3 {
    font-size: var(--fs-28);
    line-height: var(--lh-39);
  }
  .kontak-parent {
    gap: 122px;
    flex-wrap: wrap;
  }
  .kontak {
    font-size: var(--fs-28);
    line-height: var(--lh-39);
  }
  .contact-data {
    flex-wrap: wrap;
  }
  .kos-aqsya-residence-all-right-wrapper {
    padding-left: 33px;
    padding-right: 33px;
    box-sizing: border-box;
  }
  .kos-aqsya-residence4 {
    font-size: 29px;
    line-height: 35px;
  }
}
@media screen and (max-width: 450px) {
  .kos-aqsya-residence2 {
    font-size: 46px;
  }
  .jl-mangu-indah {
    font-size: var(--fs-18);
  }
  .star-parent {
    flex-wrap: wrap;
  }
  .h2,
  .kos-modern-dan,
  .ulasan {
    font-size: var(--fs-18);
  }
  .frame-parent3 {
    gap: var(--gap-15);
  }
  .fasilitas-kos-wrapper {
    padding-left: var(--padding-20);
    padding-right: var(--padding-20);
    box-sizing: border-box;
  }
  .fasilitas-kos {
    font-size: var(--fs-21);
  }
  .parkir-motor,
  .wifi-100mbps {
    font-size: var(--fs-16);
  }
  .fasilitas-4 {
    flex: 1;
  }
  .cctv {
    font-size: var(--fs-16);
  }
  .fasilitas-5 {
    flex: 1;
  }
  .ac {
    font-size: var(--fs-16);
  }
  .select-fields {
    padding-left: var(--padding-20);
    padding-right: var(--padding-20);
    box-sizing: border-box;
  }
  .kamar-tersedia-parent,
  .select-fields {
    gap: var(--gap-18);
  }
  .kamar-tersedia {
    font-size: 27px;
  }
  .tempimagedb346c-1-parent {
    gap: 62px;
    padding-top: var(--padding-20);
    padding-bottom: var(--padding-20);
    box-sizing: border-box;
  }
  .tersedia {
    font-size: var(--fs-16);
  }
  .h22 {
    font-size: var(--fs-20);
  }
  .status-containers,
  .status-containers2 {
    gap: 62px;
    padding-top: var(--padding-20);
    padding-bottom: var(--padding-20);
    box-sizing: border-box;
  }
  .deluxe-content {
    padding-top: var(--padding-20);
    padding-bottom: 25px;
    box-sizing: border-box;
  }
  .deluxe-room-a1 {
    font-size: var(--fs-18);
    line-height: 25px;
  }
  .single-1 {
    font-size: var(--fs-18);
    line-height: var(--lh-26);
  }
  .wifi {
    font-size: var(--fs-20);
    line-height: var(--lh-28);
  }
  .bed,
  .mulai-dari {
    font-size: var(--fs-18);
    line-height: var(--lh-26);
  }
  .rp-1000000 {
    font-size: var(--fs-21);
    line-height: var(--lh-29);
  }
  .bulan {
    font-size: var(--fs-16);
    line-height: var(--lh-22);
  }
  .room-types {
    padding-top: var(--padding-20);
    padding-bottom: 25px;
    box-sizing: border-box;
  }
  .single-12 {
    font-size: var(--fs-18);
    line-height: var(--lh-26);
  }
  .rp-700000 {
    font-size: var(--fs-21);
    line-height: var(--lh-29);
  }
  .standard-room {
    font-size: var(--fs-18);
    line-height: 25px;
  }
  .information {
    padding-top: 49px;
    padding-bottom: 43px;
    box-sizing: border-box;
  }
  .kontak,
  .kos-aqsya-residence3 {
    font-size: var(--fs-21);
    line-height: var(--lh-29);
  }
  .ibu-rum-081234456567,
  .kos-modern-dan2 {
    font-size: var(--fs-18);
    line-height: var(--lh-26);
  }
  .jl-mangu-indah2 {
    font-size: var(--fs-18);
  }
  .kos-aqsya-residence4 {
    font-size: 22px;
    line-height: var(--lh-26);
  }
}
